@model IEnumerable<Crud_Proyec.Models.compra>

@{
    ViewBag.Title = "Index";
}

<h2>Compras</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            fecha
        </th>
        <th>
            total
        </th>
        <th>
            cliente
        </th>
        <th>
            usuario
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                @Crud_Proyec.Controllers.ComprasController.NombreCliente(item.id_cliente)
            </td>
            <td>
                @Crud_Proyec.Controllers.ComprasController.NombreUsuario(item.id_usuario)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
@section scripts{
    <script>
$(".linkDelete").click(function (event) {
            if (!confirm('¿ Esta seguro de eliminar ?')) {
                event.preventDefault();
            }
        })</script>
}